@import url('http://fonts.cdnfonts.com/css/pinyon-script');
section{
    width: 850px;
}
.hot{
    background-color:red;
}
p{ 
     color: white;
}
.menu{
    margin-left: 38;
}
h1{
    font-family: 'Pinyon Script';
    font-size: 30px;
    margin-left: 38% ;
}
table th{
    background-color: black;
    color: white;
    padding: 8px;
}
table{
    margin-left: 8%;
    border-collapse: collapse;
    width:700px ;
}
table td{
    padding :8px;
}
.amount{
    color:red;
}
.footer{
    background-color: red;
    color: white;
}
#parag{
    margin-left: 35%;
    padding: 12px;
}
input[text]{
    width: 100%;
}