@import url('http://fonts.cdnfonts.com/css/pinyon-script');
body{
    background-color: black;
    
}
section{
    width: 850px;
    margin-right: auto;
    margin-left: auto;
}
 h1{
    position: absolute;
    top: 340px;
    margin-left: 170px;
    font-family: 'Pinyon Script';
    font-size: 30px;
 }

 .heading-bg{
    margin-left: 120px;
}
  
.logo >img{
    background-color:red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-left:45%;
    
}
#price-list{
    background-color: red;
    margin-top: -10px;
}
.food{
    margin-left: 85%;
}
table{
    width: 800px;
    padding: 10px;
    line-height: 50px;
    color: white;
    margin-left:10px;
    font-style: italic;
}
.second-bg{
    margin-left: 100px;
}
h2{
    margin-left: 40%;
    color: white;
}
.order{
    background-image: url(images/food-plate2.jpg);
    background-size: cover;
    background-color: rgb(34, 33, 33);
    background-blend-mode: soft-light;
    margin-top: -50px;
}
.food-menu{
    position: absolute;
    top: 1000px;
    margin-left: 160px;
    font-family: 'Pinyon Script';
    color: black;
}
.form-control{
    width: 95%;
    height: 40px;
    padding: 5px;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}
.form-group{
    margin-bottom: 20px;

}
.sel{
    height: 300px
}
 
.btn{
    width: 91%;
    padding: 5px;
    border-radius: 10px;
    background-color: yellow;
    margin-left: 50px;
    
}